.shop{
    margin: 0 auto;
    max-width: 1140px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 50px 0;
}

.cart-container{
    margin-left: 20px;
}